
.jumbotron {
  text-align: center;
}

.question {
  height: 200px;
  width: 200px;
  background-color: lightgrey;
  text-align: center;
  padding-top: 70px;
  border: solid 3px black;
}

#player1 {
  margin-top: 10px;
  align: right; 

}

#player2 {
  margin-top: 10px;
  align:right;

}
